@import './styles.sass'

#contact-page
    height: auto
    background: $light-grey

#footer-heading
    text-align: center
    font-size: 2rem
    color: $orange
    margin-bottom: 1rem

#contact-container
    @include flex(column, center, center)
    p
        text-align: center
        margin-bottom: 1rem
        color: $orange
    a
        text-decoration: none
        color: $darker-grey
        &:hover
            color: $orange
#contact-top
    margin-bottom: 1rem
    img
        cursor: pointer
        width: 50px
        color: white
        &:hover
            filter: invert(47%) sepia(50%) saturate(846%) hue-rotate(348deg) brightness(96%) contrast(85%)

.contact-row
    display: flex
    justify-content: center
    gap: 1rem
