html, body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
}
* h1, * h2 {
  color: rgb(51, 51, 51);
}
* p {
  color: rgb(85, 85, 85);
}

section {
  padding-top: 3rem;
}

#intro-page {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(207, 113, 31, 0.7) 0%, #1f1f1f 100%), url("../img/model.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#bmi-intro {
  padding-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bmi-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}

#bmi-text {
  width: 50%;
  color: white;
}

#bmi-input-form {
  border-style: solid;
  width: 50%;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(218, 103, 32, 0.803);
}

#bmi-title {
  text-align: center;
  color: rgb(51, 51, 51);
  color: white;
}

#bmi-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5vh;
  width: 100%;
  max-width: 500px;
}

.bmi-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
}

input[type=range] {
  width: 70%;
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: rgb(85, 85, 85);
  border-radius: 3px;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  cursor: pointer;
}

#bmi-button {
  background-color: rgb(51, 51, 51);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
}
@media (max-width: 700px) {
  #bmi-button {
    width: 80%;
  }
}

#metric-button {
  background-color: white;
  border-color: rgb(51, 51, 51);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
}

#imperial-button {
  background-color: white;
  border-color: rgb(51, 51, 51);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
}

#height-val, #weight-val, #category {
  color: white;
}

#bmi-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1rem;
}

#unit-button-row {
  margin-bottom: 1rem;
}

.bmi-row-top {
  margin-bottom: 1rem;
}

.unit-values {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#weight-val, #height-val {
  background: none;
  border: none;
  width: 2rem;
  text-align: end;
  margin-right: 0.2rem;
  border-bottom-color: white;
  border-bottom-style: solid;
}

#height-unit, #weight-unit {
  color: white;
}

#result {
  background-color: rgb(51, 51, 51);
  color: #0be881;
  padding: 0.5rem;
  border: rgb(51, 51, 51);
  border-width: 2px;
  border-style: solid;
  border-radius: 1rem;
}/*# sourceMappingURL=intro.css.map */