
 //COLOR PALLETE
$dark-grey: rgb(51, 51, 51)
$light-orange: rgb(253, 242, 233)
$orange: rgb(207, 113, 31)
$light-grey: rgb(85, 85, 85)
$light-orange-opaque: rgba(207, 113, 31, 0.7)
$nav-color: #d7d8df
$darker-grey: #1f1f1f
$featherweight: #0c9eff
$underweight: #ffc44d
$normalweight: #0be881
$overweight: #ff884d
$obese: #ff5e57

@mixin center
    display: flex
    justify-content: center
    align-items: center

@mixin flex($flex-direction, $align-items, $justify-content)
    display: flex
    flex-direction: $flex-direction
    align-items: $align-items
    justify-content: $justify-content

html, body
    font-family: 'Poppins', sans-serif
    font-size: 18px
    margin: 0
    padding: 0

*
    font-family: 'Poppins', sans-serif
    font-size: 18px
    margin: 0
    padding: 0
    color: $dark-grey
    h1, h2
        color: $dark-grey
    p
        color: $light-grey
section
    padding-top: 3rem
